<footer>
  <div id="footer-wrap">
    <div id="footer-col-wrap">
      {% for category in site.categories %}
      <a href="{{ site.baseurl }}/category/{{ category | first | slugify }}/"
        style="font-size: {{ category.last.size | divided_by: 10 | at_least: 5 | at_most: 60 }}pt">{{ category | first }}</a>
      {% endfor %}
    </div>
  </div>
  <div id="footer-wrap">
    <div id="footer-col-wrap">
      <div id="text-4" class="widget widget_text">
        <div class="textwidget">Copyright by Christine Schmitt, BT5 Belfast.</div>
      </div>
      <div id="text-4" class="widget widget_text">
        <div class="textwidget">
          <a href="{{ 'feed.xml' | relative_url }}"><i class="fa fa-rss-square" title="standard"></i>&nbsp;Subscribe
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
