<header>
  <div id="header-wrap">
    <div class="header-widget">

    </div>
    <div class="header-widget-left">

    </div>
    <div class="full-header-image">
      <a href="{% link index.md %}">
        <img id="header_image" class="logo" height="500" width="1500" alt="logo" />
        <script lang="javascript">
          images = {% header_images %};
          document.getElementById("header_image").src = images[Math.floor(Math.random() * images.length)];
        </script>
      </a>
    </div>
    <nav class="nav-container ka-menu">
      <div id="main-menu-center-noborder" class="main-nav">
        <ul id="main_menu_ul" class="sf-menu">
          <li id="menu-item-20973"
            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-20973">
            <a href="{% link index.md %}" aria-current="page">Home</a></li>
          <li id="menu-item-21026" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21026"><a
              href="{% link about.md %}">Über mich</a></li>
          <li id="menu-item-21024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21024"><a
              href="{% link _fotos/index.md %}">Fotos</a></li>
          <li id="menu-item-21025" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21025"><a
              href="{% link _rezepte/index.md %}">Rezepte</a></li>
        </ul>
      </div>
      <select class="menu"><option value="#" select="selected">Go to ....</option><option value="{% link index.md %}">Home</option><option value="{% link about.md %}">Über mich</option><option value="{% link _fotos/index.md %}">Fotos</option><option value="{% link _rezepte/index.md %}">Rezepte</option></select>
    </nav>
    <div class="clearfix"></div>
  </div>
</header>
