body {
  color: #6c6f70;
  font-size: 100%;
  line-height: 1.3125em;
  word-wrap: break-word;
}

img {
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0 rgba(72, 72, 72, 0.25);
  padding: 0;
  margin: 0.625em 0em 0.625em 0em;
  max-width: 100%;
  height: auto;
}

img.logo {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

header {
  .title {
    line-height: 1.5em;
  }
  time::before {
    content: "🕘 ";
  }
  .author::before {
    content: "👤 ";
  }
  .category::before {
    content: "🔖 ";
  }
}

footer {
  .tags::before {
    content: "🏷️ ";
  }
}
