---
layout: default
---
<!-- Pagination is active -->
{% assign paginator = page.paginator %}

<h2>Posts by Category: &ldquo;{{ page.title }}&rdquo;</h2>

<section>
  <!-- Show post excerpts for the current page -->
  {% for post in paginator.posts limit:paginator.per_page %}
  {% assign metadata = post %}
  {% include post_head.html metadata=metadata %}
  {{ post.content }}
  {% include post_foot.html metadata=metadata %}
  <div class="clearfix"></div>
  <div class="bottom-line-1"></div>
  {% endfor %}
</section>
<nav class="postpagenav">
  {% if paginator.next_page %}<div class="left"><a href="{{ paginator.next_page_path }}"><i class="fa fa-hand-o-left">&nbsp;</i>older entries</a>
  </div>{% endif %}
  {% if paginator.previous_page %}<div class="right"><a href="{{ paginator.previous_page_path }}"> newer entries&nbsp;<i class="fa  fa-hand-o-right"></i></a></div>{% endif %}
  <br>
</nav>
