<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width" />
    <title>{{ page.title }} - Christines Homepage</title>
    <link rel="alternate" type="application/rss+xml" title="cheesy.at &raquo; Feed" href="{{ site.baseurl }}/feed.xml" />
    <link rel="stylesheet" href="{{ "/assets/css/expressions.css" | relative_url }}">
    <link rel="preload" href="{{ "/assets/fonts/fontawesome-webfont.woff2" | relative_url }}" as="font">
    <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.516.css" | relative_url }}">
    <link rel="preload" href="{{ "/assets/glb/glightbox.min.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ "/assets/glb/glightbox.min.css" | relative_url }}"></noscript>
    <style type="text/css" id="custom-background-css">
      body.custom-background {
        background-color: #ffffff;
      }
    </style>
  </head>

<body class="home blog custom-background">
  {%- include_cached header.html -%}
  <div id="main-section">
    <div id="content-wrap">
      {{ content }}
    </div>
  </div>
  {%- include_cached footer.html -%}
</body>

</html>
