---
layout: page
---

{% if page.parent %}
Zurück:
<a href="{{ page.parent.url | relative_url }}">
  {{ page.parent.title }}
</a>
{%- endif -%}
{% if page.pages %}
<ul class="galleryindex">
  {% assign galleries_by_date = page.pages | sort: "date" | reverse %}
  {%- for sub in galleries_by_date -%}
    <li><div><a href="{{ sub.url | relative_url }}">
      {%- if sub.thumbnail -%}
      <img src="{{ sub.url | relative_url }}/../{{ sub.thumbnail.name }}" height="72" width="72" />
      {%- endif -%}
      <span class="gallerytitle">{{ sub.title }}<!-- ({{ sub.date | date: "%Y-%m-%d" }}) --></span></a></div></li>
  {%- endfor -%}
</ul>
{%- endif -%}

{{ content }}

<div class="gallery" itemscope itemtype="http://schema.org/ImageGallery">
  {%- for image in page.images -%}
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="{{ image.name }}" itemprop="contentUrl" data-size="{{ image.width }}x{{ image.height }}" data-gallery="gallery1">
        <img src="{{ image.name }}_thumb.jpg" itemprop="thumbnail" height="150" width="150" />
    </a>
  </figure>
{%- endfor -%}
</div>

<script src="{{ "/assets/glb/glightbox.min.js" | relative_url }}"></script>
<script type="text/javascript">
  const lightbox = GLightbox({selector: '*[data-gallery]'});
</script>
