---
layout: default
---

{{ content }}

{%- if paginator.posts.size > 0 -%}
{%- for post in paginator.posts -%}
  {% assign metadata = post %}
  {% include post_head.html metadata=metadata %}
  {%- if site.show_excerpts -%}
  {{ post.excerpt }}
  {%- endif -%}
  {% include post_foot.html metadata=metadata %}
  <div class="clearfix"></div>
  <div class="bottom-line-1"></div>
{%- endfor -%}
<nav class="postpagenav">
  {% if paginator.next_page %}<div class="left"><a href="{{ paginator.next_page_path }}"><i class="fa fa-hand-o-left">&nbsp;</i>older entries</a>
  </div>{% endif %}
  {% if paginator.previous_page %}<div class="right"><a href="{{ paginator.previous_page_path }}"> newer entries&nbsp;<i class="fa  fa-hand-o-right"></i></a></div>{% endif %}
  <br>
</nav>
{%- endif -%}
